.auth-container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 360px;

  &__header {
    color: var(--clr-black);
    font-size: 1.42rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 20px auto;
  }

  &__switch-type {
    color: var(--clr-primary);
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  &__error {
    border: 1px solid var(--clr-danger);
    border-radius: 2px;
    background: #FEEFF0;
    color: var(--clr-black);
    font-size: 1rem;
    font-weight: 600;
    margin: 8px 0 0;
    padding: 10px 12px;
  }
}

@media (max-width: 576px){
  .auth-container{
    width: 100%;
  }
}