.category {
  border: 1px solid var(--clr-border);
  box-shadow: 0 2px 6px rgba(17, 17, 17, 0.07);
  border-radius: 2px;
  background: var(--clr-surface);
  cursor: pointer;
  display: flex;
  min-height: 80px;
  padding: 16px;
  transition: .3s;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &__image-container {
    align-self: center;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    width: 48px;

    &:before {
      content: " ";
      display: block;
      padding-top: 100%;
    }
  }

  &__image {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 16px;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
  }

  &__label {
    color: var(--clr-grey);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21;
    margin: 2px 0 0 0;
  }
}

@media (max-width: 575px) {
  .category {
    margin: 0 0 8px 0;
  }
}