.container {
  margin: 8px -4px;
}

.cart-wrapper {
  padding: 0 4px;
}

.total-wrapper {
  padding: 0 4px;
}

.table {
  border-collapse: collapse;
  width: 100%;

  &__head {
    &-row {
      border-bottom: 1px solid var(--clr-grey);
      color: var(--clr-grey);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.21;
      text-align: left;
    }

    &-item {
      padding: 0 0 8px;
    }
  }

  &__body {
    &-row {
      border-bottom: 1px solid var(--clr-grey);

      &:last-child {
        border: none;
      }
    }

    &-item {
      padding: 16px 0;
    }
  }
}

.image {
  height: 80px;
  margin: 0 16px 0 0;
  object-fit: contain;
  width: 96px;
}

.title {
  color: var(--clr-black);
  transition: .3s color ease;
  font-size: 1rem;

  &:hover {
    color: var(--clr-primary);
  }

  &:active {
    color: var(--clr-primary);
  }
}

.price {
  color: var(--clr-primary);
  font-weight: 700;
}

.label {
  margin: 0 8px 0 0;
  display: none;
}

@media (max-width: 992px) {
  .total-wrapper {
    margin: 8px 0 0 0;
  }

  .label {
    display: none;
  }
}

@media (max-width: 575px) {
  .table {
    &__head {
      display: none;
    }

    &__body {
      &-row {
        display: flex;
        flex-direction: column;
      }

      &-item {
        padding: 4px 0;
      }
    }
  }

  .label {
    display: block;
  }
}