.navigation {
  background: var(--clr-background);
  border: 1px solid var(--clr-border);
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(17, 17, 17, 0.07);
  padding: 16px;
  position: relative;

  &__logo {
    color: var(--clr-primary);
    font-size: 1.41rem;
    font-weight: 700;
    margin: auto;
    transition: 0.3s all ease;

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  &__menu {
    display: flex;
    height: 100%;
  }
}

.navigation-list {
  list-style: none;

  &__item {
    white-space: nowrap;

    &-link {
      color: var(--clr-grey);
      transition: 0.2s all ease;

      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        filter: brightness(0.7);
      }
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: end;
}

@media (max-width: 992px) {
  .navigation-list {
    margin: 16px 0 0 0;
    width: 100%;

    &__item {
      width: 100%;

      &-link {
        background: var(--clr-background);
        display: flex;
        padding: 4px;

        &:hover {
          color: var(--clr-primary);
          filter: brightness(0.9);
        }

        &:active {
          color: var(--clr-primary);
          filter: brightness(0.8);
        }
      }
    }
  }
}