
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  color: var(--clr-grey);
  font-size: 0.85rem;
  font-weight: 800;
  line-height: 1.33;
  margin: 0 0 2px;
}

.input {
  border: 1px solid var(--clr-border);
  border-radius: 2px;
  color: var(--clr-grey);
  outline: none;
  padding: 8px 4px 8px 8px;
  width: 100%;

  &:focus {
    color: var(--clr-black);
  }

  &:disabled {
    background: var(--clr-disabled);
  }
}