.breadcrumbs-container {
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;;
  list-style: none;

  &__item {
    display: flex;
    font-size: 1rem;
    line-height: 1.33;
    padding: 0 8px 0 0;

    &:not(:first-child)::before{
      color: var(--clr-grey-light);
      content: "/";
      display: block;
      padding: 0 8px 0 0;
    }

    &-link {
      color: var(--clr-grey);
      transition: 0.2s all ease;

      &--active {
        color: var(--clr-primary);
      }

      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        filter: brightness(0.8);
      }
    }
  }
}

@media (max-width: 575px) {
  .breadcrumbs-container {
    display: flex;
    flex-direction: column;

    &__item:not(:first-child)::before{
      display: none;
    }
  }
}