:root {
  --clr-background: #F6F6F6;
  --clr-surface: #FFFFFF;
  --clr-primary: #1170FF;
  --clr-on-primary: #FFFFFF;
  --clr-success: #45BF55;
  --clr-on-success: #FFFFFF;
  --clr-danger: #F71A2F;
  --clr-on-danger: #FFFFFF;
  --clr-border: #CCCCCC;
  --clr-grey: #888888;
  --clr-grey-light: #DDDDDD;
  --clr-black: #111111;
  --clr-disabled: #F6F6F6;
  --clr-info: #EEF5FF;
  --clr-white: #FFFFFF;
}

html {
  font-family: Inter, sans-serif;
}

body {
  background: var(--clr-background);
}

a {
  color: var(--clr-black);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.m {
  &-auto {
    margin: auto;
  }

  &-0 {
    margin: 0;
  }

  &-2 {
    margin: 2px;
  }

  &-4 {
    margin: 4px;
  }

  &-8 {
    margin: 8px;
  }

  &-16 {
    margin: 16px;
  }

  &-t {

    &-0{
      margin-top: 0;
    }

    &-2 {
      margin-top: 2px;
    }

    &-4 {
      margin-top: 4px;
    }

    &-8 {
      margin-top: 8px;
    }

    &-16 {
      margin-top: 16px;
    }

    &-auto {
      margin-top: auto;
    }
  }

  &-r {

    &-0{
      margin-right: 0;
    }

    &-2 {
      margin-right: 2px;
    }

    &-4 {
      margin-right: 4px;
    }

    &-8 {
      margin-right: 8px;
    }

    &-16 {
      margin-right: 16px;
    }

    &-auto {
      margin-right: auto;
    }
  }

  &-b {

    &-0{
      margin-bottom: 0;
    }

    &-2 {
      margin-bottom: 2px;
    }

    &-4 {
      margin-bottom: 4px;
    }

    &-8 {
      margin-bottom: 8px;
    }

    &-16 {
      margin-bottom: 16px;
    }

    &-auto {
      margin-bottom: auto;
    }
  }

  &-l {

    &-0{
      margin-left: 0;
    }

    &-2 {
      margin-left: 2px;
    }

    &-4 {
      margin-left: 4px;
    }

    &-8 {
      margin-left: 8px;
    }

    &-16 {
      margin-left: 16px;
    }

    &-auto {
      margin-left: auto;
    }
  }
}

.box {
  background: var(--clr-surface);
  border: 1px solid var(--clr-border);
  box-shadow: 0 2px 6px rgba(17, 17, 17, 0.07);
  border-radius: 2px;
  padding: 21px 16px 16px;
}

.grey {
  color: var(--clr-grey);
}